configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "/:";
    drun-display-format: "{name}";
    terminal: "foot";
}

@theme "~/.config/rofi/theme.rasi"

// @theme "/usr/share/rofi/themes/sidebar.rasi"
